<script async='true'>GiftCards.setAdminDatepicker()</script>

<% content_for :page_title do %>
  <%= I18n.t("spree.admin.gift_cards.editing_gift_card") %>
<% end %>

<%= render :partial => 'spree/admin/shared/order_tabs', :locals => { :current => '' } %>

<%= form_for @gift_card, url: admin_order_gift_card_path(@order, @gift_card) do |f| %>
  <fieldset>
    <legend align="center"><%= I18n.t("spree.admin.gift_cards.gift_card_details") %></legend>
    <div class="row">
      <label>Amount:</label>
      <%= @gift_card.formatted_amount %>
    </div>

    <div class="row">
      <label>Redemption Code:</label>
      <%= @gift_card.redemption_code %>
    </div>

    <div class="row">
      <div class="alpha twelve columns">
        <%= f.field_container :recipient_name do %>
        <%= f.label :recipient_name, I18n.t('spree.admin.gift_cards.recipient_name') %> <br />
        <%= f.text_field :recipient_name, class: 'fullwidth' %>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="alpha twelve columns">
        <%= f.field_container :recipient_email do %>
        <%= f.label :recipient_email, I18n.t('spree.admin.gift_cards.recipient_email') %> <br />
        <%= f.text_field :recipient_email, class: 'fullwidth' %>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="alpha twelve columns">
        <%= f.field_container :purchaser_name do %>
        <%= f.label :purchaser_name, I18n.t('spree.admin.gift_cards.purchaser_name') %> <br />
        <%= f.text_field :purchaser_name, class: 'fullwidth' %>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="alpha twelve columns">
        <%= f.field_container :gift_message do %>
        <%= f.label :gift_message, I18n.t('spree.admin.gift_cards.gift_message') %> <br />
        <%= f.text_area :gift_message, class: 'fullwidth', maxlength: '140' %>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="alpha twelve columns">
        <% if @gift_card.sent_at %>
          <div class="last-email-sent">
            Email last sent at: <%= @gift_card.formatted_sent_at %>
          </div>
        <% else %>
          <%= f.field_container :send_email_at do %>
          <%= f.label :send_email_at, I18n.t('spree.admin.gift_cards.send_email_at') %> <br />
          <%= f.text_field :send_email_at, :class => 'datepicker datepicker-from giftcard-datepicker' %>
          <% end %>
        <% end %>

        <% if @gift_card.deactivated_at %>
          <div class="deactivated-at">
            Deactivated at: <%= @gift_card.formatted_deactivated_at %>
          </div>
        <% end %>
      </div>
    </div>

    <%= render :partial => 'spree/admin/shared/edit_resource_links', locals: { collection_url: edit_admin_order_path(@order) } %>
  </fieldset>
<% end %>


<% if @gift_card.can_deactivate? && can?(:deactivate, @gift_card) %>
  <div class="form-buttons filter-actions actions gift-card-actions" data-hook="buttons">
    <%= link_to "Send email now", send_email_admin_order_gift_card_path(@order, @gift_card), method: :put, data: { confirm: "Any changes that have not been updated will not send" }, class: 'button'  %>
    <%= link_to "Deactivate", deactivate_admin_order_gift_card_path(@order, @gift_card), method: :put, data: { confirm: "Are you sure you want to deactivate the gift card?" }, class: 'button'  %>
  </div>
<% end %>
